.Rproj.user
.Rhistory
.RData
.httr-oauth
_drafts/*
figures/unnamed*
data/bubble_maps/*
_site
.sass-cache
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache
.jekyll-metadata
